@import "tailwindcss";

/* Никаких Geist — используем наши Inter/Playfair */
:root {
  --background: #fffbeb;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  /* ВАЖНО: не прописываем Arial руками */
  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
}

